<script setup lang="ts">
import Highlights from '@/components/Highlights.vue'
import GamesOverview from '@/components/GamesOverview.vue'

import type { Highlight } from '@/model'
import { ApplicationStore } from '@/stores/application.store';
import { DataStore } from '@/stores/data-store';
import { ApolloClient, gql, type NormalizedCacheObject } from '@apollo/client/core';

import { Observable, Subject, map, takeUntil, tap } from 'rxjs';
import { ref, onMounted, onUnmounted, inject } from 'vue';
import { DefaultApolloClient } from '@vue/apollo-composable';

const $destroyed = new Subject()
const apollo = inject<ApolloClient<NormalizedCacheObject>>(DefaultApolloClient)
  
type Highlights = {
  name: string
  period: string
  type: string
  items: Highlight[]
}

type GameSchedule = {
  date: string
  games: string[]
}

class HomeStore extends DataStore {

  constructor(client: ApolloClient<NormalizedCacheObject>) {
    super(client, 'home')
  }

  onCreate() {
    return {
      dailyTopPlays: `highlights {
        highlights {
          id
          url
          game {
            home
            away
            date
          }
          players
          labels
        }
      }`,
      weeklyTopPlays: 'games { games { id } }',
      games: `games {
        games {
          id
          home
          away
          date
        }
      }`,
    }
  }
}

if(apollo === undefined) {
  throw new Error('Apollo client not found')
}

const homeData = new HomeStore(apollo);

const dailyTopPlays = ref<Highlights>()
const weeklyTopPlays = ref<Highlights>()
const games = ref<GameSchedule>()

onMounted(() => {

  homeData.get<any>('dailyTopPlays').pipe(
      map(data => {
        return {
          name: "Daily Top Plays",
          period: "2024-04-11",
          type: "top_plays",
          items: []
        }
      }),
      takeUntil($destroyed)
    ).subscribe(highlights => {
      dailyTopPlays.value = highlights
    })
  homeData.get<Highlights>('weeklyTopPlays').pipe(
      takeUntil($destroyed)
    ).subscribe(highlights => {
      weeklyTopPlays.value = highlights
    })
  homeData.get<GameSchedule>('games').pipe(
      takeUntil($destroyed)
    ).subscribe(sched => {
      games.value = sched
    })
  
  // trigger the load of the data
  const vars = { date: '2024-05-11' }
  homeData.load(vars)
})

onUnmounted(() => {
  $destroyed.next(null)
  $destroyed.complete()
})

</script>

<template>
  <main>
    <h1>Real NBA Top Plays</h1>
    <article>
      <Highlights v-if="dailyTopPlays" :highlights="dailyTopPlays.items" :title="dailyTopPlays.name" :period="dailyTopPlays.period" />
    </article>
    <article>
      <Highlights v-if="weeklyTopPlays" :highlights="weeklyTopPlays.items" :title="weeklyTopPlays.name" :period="weeklyTopPlays.period" />
    </article>
  </main>
  <aside>
    <GamesOverview v-if="games" :games="games.games" />
  </aside>
</template>
