<script setup lang="ts">
import Highlights from '@/components/Highlights.vue';

import type { Highlight } from '@/model';
import type { ApplicationStore } from '@/stores/application.store';

import { Subject } from 'rxjs';
import { inject, onMounted, onUnmounted, ref } from 'vue';

const $destroy = new Subject()

const store = inject<ApplicationStore>('store')

const highlights = ref<Highlight[]>([]);

onMounted(() => {
  // load the requested list from the store
  // store?.updateActiveList()
})

onUnmounted(() => {
  $destroy.next(null)
  $destroy.complete()
})
</script>

<template>
  <main>
    <h1>Top Plays</h1>
    <Highlights :highlights="highlights" title="Weekly Top Plays" period="Week 8 of 2024"></Highlights>

  </main>
</template>
