@import './base.css';

#app {
  max-width: 1280px;
  margin: 0;
  padding: 0;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 100px auto 25px;
    padding: 0;
    margin: 0;
  }
}
