<script setup lang="ts">
import { defineProps } from 'vue'
defineProps({
    games: Array<String>
})
</script>

<template>
    <div class="games">
      <ul>
        <li v-for="game in games">{{ game }}</li>
      </ul>
    </div>
</template>