<script setup lang="ts">
    import { defineProps, withDefaults } from 'vue'
    import type { Highlight } from '@/model'
    import HighlightItem from '@/components/HighlightItem.vue'

    const props = defineProps({
        title: { type: String, required: true },
        period: { type: String, required: true },
        highlights: { type: Array<Highlight>, required: true}
    })
</script>

<template>
    <h2>{{ title }}</h2>
    <div class="period">{{ period }}<span><input type="button" value="change" /></span></div>
    <ul class="highlight-list">
        <li v-for="highlight in highlights.slice(0,10)">
            <HighlightItem :highlight="highlight"></HighlightItem>
        </li>
    </ul>
    <RouterLink to="/daily/2024-04-11" v-if="highlights.length > 10">See all highlights</RouterLink>
</template>