<script setup lang="ts">
import type { Highlight } from '@/model'
import { defineProps } from 'vue'

const props = defineProps<{
    highlight: Highlight
}>()
</script>

<template>
    <div class="game">{{ highlight.game.name }}</div>
    <video width="300" height="200" controls class="highlight">
        <source :src="highlight.url" type="video/mp4" />
        Video not supported.
    </video>
    <div class="description">{{ highlight.description }}</div>
    <div class="players">
        <span class="player" v-for="player in highlight.players">{{ player }}</span>
    </div>
    <div class="labels">
        <span class="badge" v-for="label in highlight.labels">{{ label }}</span>
    </div>
</template>