<script setup lang="ts">
import { RouterLink, RouterView } from 'vue-router'
</script>

<template>
  <header>
    <RouterLink to="/"><img alt="App logo" class="logo" src="@/assets/logo.svg" width="125" height="125" /></RouterLink>
  </header>

  <RouterView />
  
  <footer>
    <div id="copyright">Copyright 2024, All Rights Reserved</div>
  </footer>
</template>

<style scoped>
header {
  width: 100%;
  height: 100px;
  display: flex;
}

footer {
  bottom: 0;
  position: fixed;
  width: 100%;
  height: 25px;
}

.logo {
  display: block;
  margin: 0 auto 2rem;
}

#copyright {
  text-align: center;
}
</style>
